<!DOCTYPE html>
<html>
<body>

<div >
			<h2 >Export </h2>
			<div >
				<form method="post" >
					{% csrf_token %}
						<legend ></legend>
						
						
						<select name="type" >
							<option disabled selected>Select Type</option>
							<option value="1">ME_Elective_Preferences</option>

						</select>

								<br><br>
								
								
							
							<p></p>
							<div>
								<button type="submit">Submit</button>
							</div>
						</form>
					</div>
						
	
			</div>

</body>
</html>